<tr>
  <td>
    <%= link_to event.name, edit_event_path(event) %>
  </td>
  <td>
    <%= event.event_type.humanize %>
  </td>
  <td>
    <%= event.starts_at %>
  </td>
  <td>
    <%= event.ends_at %>
  </td>
  <td>
    <%= event.address %>
  </td>
</tr>
