<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= event.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= event.ends_at %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= event.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= event.latitude %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= event.active %>
  </p>

</div>
