<%= form_with(model: event) do |form| %>
<% if event.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

  <ul>
    <% event.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row mb-3">
  <%= form.label :event_type, class: 'col-sm-2 col-form form-label' %>
  <div class="col-sm-10">
    <%= form.select :event_type, Event.event_types.keys.map { |type| [type.humanize, type] }, { include_blank: true }, {class: 'form-control form-select'} %>
  </div>
</div>

<div class="row mb-3">
  <%= form.label :name, class: 'col-sm-2 col-form form-label' %>
  <div class="col-sm-10">
    <%= form.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="row mb-3">
  <%= form.label :starts_at, class: 'col-sm-2 col-form form-label' %>
  <div class="col-sm-10">
    <%= form.datetime_field :starts_at, class: 'form-control' %>
  </div>
</div>

<div class="row mb-3">
  <%= form.label :ends_at, class: 'col-sm-2 col-form form-label' %>
  <div class="col-sm-10">
    <%= form.datetime_field :ends_at, class: 'form-control' %>
  </div>
</div>

<div class="row mb-3">
  <%= form.label :longitude, class: 'col-sm-2 col-form form-label' %>
  <div class="col-sm-10">
    <%= form.text_field :longitude, class: 'form-control' %>
  </div>
</div>

<div class="row mb-3">
  <%= form.label :latitude, class: 'col-sm-2 col-form form-label' %>
  <div class="col-sm-10">
    <%= form.text_field :latitude, class: 'form-control' %>
  </div>
</div>

<div class="row mb-3">
  <%= form.label :address, class: 'col-sm-2 col-form form-label' %>
  <div class="col-sm-10 text-start">
    <%= form.text_field :address, id: "event_address", class: "form-control", style: "max-width: 80%; display: inline" %>
    <button type="button" id="geocode_button" class="btn btn-secondary btn-sm">Search</button>
  </div>
</div>

<div id="map" style="height: 400px; width: 100%; margin: 20px 0;"></div>

<div class="row mb-3">
  <%= form.label :active, class: 'col-sm-2 col-form form-check-label' %>
  <div class="col-sm-10">
    <%= form.check_box :active, class: 'form-check-input' %>
  </div>
</div>

<div>
  <%= form.submit class: "btn btn-primary" %>
</div>
<% end %>
