<p style="color: green"><%= notice %></p>

<%= render @traveller %>

<div>
  <%= link_to "Edit this traveller", edit_traveller_path(@traveller) %> |
  <%= link_to "Back to travellers", travellers_path %>

  <%= button_to "Destroy this traveller", @traveller, method: :delete %>
</div>
