<div id="<%= dom_id subscription %>">
  <p>
    <strong>Event type:</strong>
    <%= subscription.event_type.humanize %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= subscription.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= subscription.url %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= subscription.active %>
  </p>

</div>
